.back{
    background-color: #000000;
   
    padding-bottom: 210px;
   
     
}

.last{
    color: aliceblue;
    padding-top: 200px;
    padding-left: 725px;
}

.div{
    padding-left: 400px;
     padding-top:50px;
}

h1{
    padding-left: 660px;
    padding-top: 50px;
    color: aliceblue;
}
:root {
    --scale: 1px;
    --window-height: calc(322 * var(--scale));
    --window-width: calc(232 * var(--scale));
    --calculator-border-radius: 10px;
}




body {
    box-sizing: border-box;
    font-family: Helvetica,Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    position: relative;
}

table {
    table-layout: fixed;
    width: var(--window-width);
}


td {
    height: calc(var(--window-height) / 6);
    background-color: #429c06;
    text-align: center;
    border: calc(var(--scale) * 0.5) solid #000000;
    color: rgb(255, 254, 254) !important;
    font-size: calc(28 * var(--scale)) ;
    width: 700px !important ;
    transition: background-color 0.2s ease, transform 0.1s ease;
   
}
td:active {
    background-color: #2a7300 !important; 
    transform: scale(0.95); 
}

td:hover {
    background-color: #73e577; 
    transform: scale(1.05);
}

tr:nth-child(2) td {
    background-color: #0064f0 !important;
}

tr:nth-child(2) td:hover {
    background-color: #598ae5 !important;
    transform: scale(1.05);
}

tr td:last-child {
    background-color: rgb(230, 28, 28) !important;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 var(--calculator-border-radius);
}

tr:last-child td:last-child {
    border-radius: 0 0 var(--calculator-border-radius) 0;
}

tr td:last-child:hover {
    background-color: #ef5f5f !important;
    transform: scale(1.05);
}

#display {
    height:calc(var(--window-height) * 7 / 28 - 2px) !important;
    text-align: right;
    background-color: #222020 !important;
    padding-right: 20px;
    font-size: calc(56 * var(--scale));
    font-weight: 100;
    border-radius: var(--calculator-border-radius) var(--calculator-border-radius) 0 0 ;
    vertical-align: bottom;
}


tr:last-child td {
    
    height: calc(var(--window-height) / 7 + 2px) !important;
}
tr td:last-child:active {
    background-color: #a91d1d !important; /* Darker red */
}
